<div *ngIf="pizza">
<h2>{{pizza.pizzaName}}</h2>
<div><label>Toppings: </label><span *ngFor= "let topping of pizza.toppingsList">{{topping.toppingName}} </span></div>
<div><label>Crust: </label>{{pizza.crust.name}}</div>
<div><label>Price: </label>{{pizza.price}}</div>
<div>
    <label id="toppingsList">Add Toppings: </label>
    <ul class="toppings">       
        <li *ngFor= "let topping of toppings"  (click)="onSelectTopping(topping)">
            <b class="pizzaName">{{topping.toppingName}}</b><label class="ToppingsPrice">{{topping.price}}</label>
        </li>
    </ul>
</div>
<div>
    <label id="crustList">Select Crust: </label>
    <ul class="toppings">       
        <li *ngFor= "let crust of crusts"  (click)="onSelectCrust(crust)">
            <b class="crustName">{{crust.name}}</b><label class="CrustPrice">{{crust.price}}</label>
        </li>
    </ul>
</div>
<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>